@model IEnumerable<Conversation>
<div class="inbox_chat">
    @foreach(var conv in Model){
        <a class="chat_list contact-@conv.id" data-contact-id="@conv.id">
            <div class="chat_people">
                <span class="chat_img">
                    <img src="~/images/@conv.ProfilePicture">
                </span>
                <span class="chat_ib">
                    <span class="fw-bold user_chat_name">@conv.name</span>
                    @if(@conv.last == null)
                    {
                        <span class="user_chat_date contact-@conv.id"></span>
                        <br>
                        <span class="user_chat_message contact-@conv.id"></span>
                    } else
                    {
                        <span class="user_chat_date contact-@conv.id">@conv.lastdate</span>
                        <br>
                        <span class="user_chat_message contact-@conv.id">@conv.last</span>
                    }
                    
                </span>
            </div>
        </a>
    }
</div>
